@{
    ViewBag.Title = "Home Page";
}
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="jumbotron">

    <img src="~/Content/IMG/LogoSistema.jpg" width="800" height="800" />


</div>
